<% unless user_signed_in? %>
  <script type="text/javascript">
    $('#myModal').modal('show');
  </script>
<% end %>
<div class="container">

  <br>

  <!-- STATS CHART -->
  <% unless params[:search] %>

  <div class="row">
    <div class="col-sm-12">
      <h3>Kitty Stats</h3>
      <div class="chart">

        <% viewsHash = Hash[ @articles.map{ |kitty| [kitty.title,kitty.impressionist_count] } ] %>
        <% votesHash = Hash[ @articles.map{ |kitty| [kitty.title,(kitty.get_upvotes.size - kitty.get_downvotes.size)] } ] %>

        <%= line_chart [
          {name: "Views", data: viewsHash},
          {name: "Rating", data: votesHash},
        ]%>

      </div>
    </div>
  </div>

  <br>
  <h3>Meet the Kitties &hellip;</h3>

  <% else %>

  <%= link_to 'Back to All', root_path, class: 'btn btn-primary' %>

  <br>
  <br>
  <h3>Search results for <%= params[:search] %> &hellip;</h3>

  <% end %>



  <div class="row">
    <div class="col-sm-12">

      <% @articles.each do |kitty| %>

      <div class="card">
        <div class="views text-white">
          <i class="icon-eye" style="display:inline-block;width: 30px;"></i> <span class="view-count" style="display:inline-block;min-width: 30px;"><%= kitty.impressionist_count %></span>
          <i class="icon-heart" style="display:inline-block;width: 30px;"></i> <span class="rating-count" style="display:inline-block;min-width: 30px;"><%= kitty.get_upvotes.size - kitty.get_downvotes.size%></span>
        </div>

        <div class="overlay">
          <div class="dislike text-white">
            <%= link_to dislike_article_path(kitty), method: :put, class: 'btn btn-outline-danger' do %>
              Hate
              <br>
              <i class="icon-thumbs-down"></i>
            <% end %>
          </div>
          <div class="like text-white">
            <%= link_to like_article_path(kitty), method: :put, class: 'btn btn-outline-success' do %>
              Dig
              <br>
              <i class="icon-thumbs-up"></i>
            <% end %>
          </div>
        </div>

        <img class="card-img-top img-fluid" src="<%= kitty.image.url(:large) %>" alt="Nature Rules">
        <div class="card-block">
          <h4 class="card-title"><%= kitty.title %><% kitty.object_id %></h4>
          <%= @markdown.render(kitty.body).html_safe %>
        </div>
        <div class="footer-toggle">
          <div class="card-footer">
            <%= link_to kitty, class: 'btn btn-primary' do %>
              <i class="icon-eye"></i> View
            <% end %>
            <%= link_to edit_article_path(kitty), class: 'btn btn-primary' do %>
              <i class="icon-pencil"></i> Edit
            <% end %>
            <%= link_to kitty, method: :delete, data: { confirm: 'Are you serious!?' }, class: 'btn btn-danger' do %>
              <i class="icon-sword"></i> Kill
            <% end %>
          </div>
        </div>
      </div>

      <% end %>

      <br>
      <% if params[:search] %>
        <%= link_to root_path, class: 'btn btn-primary' do %>
          <i class="icon-arrow-left"></i> Back to All Kitties
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to new_article_path, class: 'btn btn-primary' do %>
          <i class="icon-plus"></i> New Kitty
        <% end %>
      <% end %>
      <br>
      <br>

    </div>
  </div>


</div>
