<% unless user_signed_in? %>
  <script type="text/javascript">
    $('#myModal').modal('show');
  </script>
<% end %>

<!-- <p id="notice"><%= notice %></p> -->
<div class="container">

  <br>
  <h3>Kitty Stats</h3>

  <div class="row">
    <div class="col-sm-12">
      <div class="chart">

        <% viewsHash = Hash[ @articles.map{ |kitty| [kitty.title,kitty.impressionist_count] } ] %>
        <% votesHash = Hash[ @articles.map{ |kitty| [kitty.title,kitty.find_votes_for.size] } ] %>

        <%= line_chart [
          {name: "Views", data: viewsHash},
          {name: "Rating", data: votesHash},
        ]%>

      </div>
    </div>
  </div>

  <br>
  <h3>Meet the Kitties &hellip;</h3>

  <div class="row">
    <div class="col-sm-12">

      <% @articles.each do |kitty| %>

      <div class="card">
        <div class="views text-white">
          <i class="icon-eye" style="display:inline-block;width: 30px;"></i> <span class="view-count" style="display:inline-block;min-width: 30px;"><%= kitty.impressionist_count %></span>
          <i class="icon-heart" style="display:inline-block;width: 30px;"></i> <span class="rating-count" style="display:inline-block;min-width: 30px;"><%= kitty.find_votes_for.size %></span>
        </div>
        <div class="overlay"></div>
        <img class="card-img-top img-fluid" src="<%= kitty.image.url(:large) %>" alt="Nature Rules">
        <div class="card-block">
          <h4 class="card-title"><%= kitty.title %><% kitty.object_id %></h4>
          <%= @markdown.render(kitty.body).html_safe %>
        </div>
        <div class="footer-toggle">
          <div class="card-footer">
            <%= link_to like_article_path(kitty), method: :put, class: 'btn btn-success' do %>
              <i class="icon-heart"></i>
              <%= kitty.get_upvotes.size %>
            <% end %>
            <%= link_to 'View', kitty, class: 'btn btn-secondary' %>
            <%= link_to 'Edit', edit_article_path(kitty), class: 'btn btn-secondary' %>
            <%= link_to 'Kill', kitty, method: :delete, data: { confirm: 'Are you serious!?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div>

  <br>
  <% if user_signed_in? %>
    <%= link_to 'Add A Kitty', new_article_path, class: 'btn btn-primary' %>
  <% end %>

</div>
