<p id="notice"><%= notice %></p>
<%= image_tag @article.image.url(:large) %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @markdown.render(@article.body).html_safe %>
</p>
<p>
  <strong>View Count:</strong>
  <%= @article.impressionist_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
