<!DOCTYPE html>
<html>
  <head>
    <title>RateMyKitty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://i.icomoon.io/public/a8c6eb6311/TLock/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=vietnamese" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
